.body {
  height: calc(100vh - 50px);
  width: 100vw;
  background-image: image-url('libra.jpg');
  background-size: 100%;
  overflow: scroll;
  #error_explanation {
    color: red;
    background-color: white;
  }
  p1 {
    font-size: 18px;
  }
  p2 {
    font-size: 8px;
  }
}