.footer {
  height: 25px;
  width: 100vw;
  background-size: 30px 30px;
  margin: 0 auto;
  background-image: image-url('chizu.jpg');
  background-size: 100%;
  font-size: 12px;
  text-align: center;
}