* {
  box-sizing: border-box;
  outline: none;
}

.header {
  height: 50px;
  width: 100vw;
  background-size: 30px 30px;
  margin: 0 auto;
  background-image: image-url('chizu.jpg');
  background-size: 100%;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  &__title {
    line-height: 50px;
    font-size: 20px;
    margin-right: 20px;
  }
  &__right {
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      text-decoration: none;
      color: white;
      display: block;
    }
    &__link {
      border-radius : 5%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      width: 100px;
      font-size: 15px bold;
      &:hover {
        background: gold;
      }
    }
  }
}