.body__main__newRegister {
  width: 800px;
  color: white;
  text-align: center;
  h1 {
    font-weight: bold;
    font-size: 25px;
  }
  &__form {
    display: inline-block;
    justify-content: center;
    height: 100px;
    &__field {
      height: 30px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding-bottom: 30px;
      &__input {
        height: 50px;
      }
      &__action {
        text-align: center;
        height: 30px;
        width: 150px;
        .button {
          line-height: 30px;
          display       : inline-block;
          border-radius : 5%; 
          font-size     : 18pt;  
          text-align    : center;
          cursor        : pointer;  
          padding       : 6px 6px; 
          color         : #ffffff; 
          background-color: #3CCACE;
          line-height   : 1em;   
          transition    : .3s;   
          box-shadow    : 6px 6px 3px #666666;
        }
        .button:hover {
          box-shadow    : none;  
          color         : #000066;  
          background    : #ffffff;  
        }
      }
    }
  }
}