.body
  .body__main
    = render "shared/bodyMainHead"
    .body__main__contents
      ドリルにチャレンジして新しい単語を覚えよう！
      .body__main__contents__drill
        = link_to "ドリル１", drilltest_tangos_path(current_user)
      .body__main__contents__drill
        ドリル２
      .body__main__contents__drill
        ドリル３
        %p5 (未実装)
      .body__main__contents__drill
        ドリル４
        %p5 (未実装)
      .body__main__contents__drill
        ドリル５
        %p5 (未実装)
    .body__main__hide
      -@tangos.each do |anser|
        =anser.question
