= render "shared/header"
.body
  .body__problems
    -@ansers.each do |anser|
      .body__problems__problem
        .body__problems__problem__japanese
          =anser[:quiz].question
        .body__problems__problem__english
          =anser[:quiz].anser
        .body__problems__problem__result
          =anser[:right] ? " 💮" : "×"
.footer