.header
  %h.header__title
    フラッシュ単語
  .header__right
    .header__right__start
      = link_to "一覧へ", "/"
.body
  .body__problems
    .body__problems__problem
      %h 単語ドリル レベル１ 50問の英単語にチャレンジ！
    =form_tag drillmark_tangos_path do
      -@quizzes.each do |quiz|
        .body__problems__problem
          .body__problems__problem__japanese
            =quiz.question
          .body__problems__problem__english
            =hidden_field_tag "quiz[]", quiz.id
            =text_field_tag "quiz#{quiz.id}","",autocomplete: 'off', placeholder: "英単語", size: "10x10", class: "body__problems__problem__english__einput"
      .body__problems__problem__submit
        =submit_tag "回答", class: "btn"
.footer