.body
  .body__main
    = render "shared/bodyMainHead"
    .body__main__contents
      .body__main__contents__index
        %h 単語ドリル レベル１ 50問の英単語にチャレンジ！
        %br  
        %br  
      =form_tag drillmark_tangos_path do
        -@tangos.each do |quiz|
          .body__main__contents__index__problems
            .body__main__contents__index__problems__japanese
              =quiz.question
            .body__main__contents__index__problems__english
              =hidden_field_tag  "quiz[]", quiz.id
              =text_field_tag "quiz#{quiz.id}","",autocomplete: 'off', placeholder: "英単語", size: "20x20", class: "body__main__contents__register__problems__english__einput"
        =submit_tag "回答", class: "btn"