.body
  .body__main
    = render "shared/bodyMainHead"
    .body__main__contents
      .body__main__contents__index
        登録した単語をフラッシュで覚えよう！
        %br
        #timer 5
        -@tangos.each do |tango|
          .body__main__contents__index__problems
            .body__main__contents__index__problems__japanese
              =tango.question
            .body__main__contents__index__problems__english
              =tango.anser
