.header
  %h.header__title
    フラッシュ単語
  .header__right
    .header__right__start
      = link_to "一覧へ", "/"
      -# =link_to "テスト", test_tango_tests_path(@tangos)
    -#   = link_to "フラッシュ", problem_path(@problems), { data: {id: "autorenew"}}
    -# .header__right__new
    -#   = link_to new_tango_path do
    -#     単語登録
.body
  .body__problems
    .body__problems__problem
      .body__problems__problem__quiz
        -@ansers.each do |anser|
          =anser[:quiz].question
          =anser[:right] ? "正解" : "不正解"
          =anser[:quiz].right_anser

.footer