.header
  %h.header__title
    フラッシュ単語
  .header__right
    .header__right__start
      = link_to "一覧へ", "/"
.body
  .body__problems
    .body__problems__problem
      .body__problems__problem__quiz
        -@ansers.each do |anser|
          =anser[:quiz].question
          =anser[:right] ? "正解" : "不正解"
          =anser[:quiz].anser
          -# =anser[:quiz].right_anser

.footer