.body__main__contents__search {
  height: 100px;
  width: 600px;
  &__tangoSearch {
    color: white;
    border: none;
    background-color: transparent;
    border-bottom: solid 2px white;
  }
}
.body__main__contents__register {
  margin-top: 20px;
  height: 100px;
  width: 600px;
  &__problems {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    &__japanese {
      border-bottom: solid 2px white;
      font-family: "游ゴシック","arial unicode ms",sans-serif;
      width: 200px;
      &__jinput {
        color: white;
        border: none;
        background-color: transparent;
      }
    }
    &__english {
      margin-left: 20px;
      border-bottom: solid 2px white;
      font-family: "游ゴシック","arial unicode ms",sans-serif;
      width: 200px;
      text-decoration: underline;
      &__einput {
        color: white;
        border: none;
        background-color: transparent;
      }
    }
  }
}
.body__main__contents__index {
  #timer {
    color: white;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 35px;
    border-radius: 50%;
    background:#996633;
    text-align: center;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: auto;
    margin-bottom: 20px;
  }
  &__problems {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    font-size: 20px;
    &__japanese {
      border-bottom: solid 1px white;
      font-family: "游ゴシック","arial unicode ms",sans-serif;
      width: 200px;
    }
    &__english {
      margin-left: 20px;
      border-bottom: solid 1px white;
      font-family: "游ゴシック","arial unicode ms",sans-serif;
      width: 200px;
    }
    &__result {
      margin-left: 20px;
      width: 35px;
      font-size: 25px;
      font-weight: bold;
    }
    &__option {
      top:10px;
      border-radius: 3px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      width: 30px;
      font-size: 10px;
      margin-top: auto;
      margin-bottom: auto;
      a {
        text-decoration: none;
        color: white;
        display: block;
        &:hover {
          background: lightgray;
        }
      }
    }
  }
}
.body__main__contents__page {
  margin-top: 20px;
  a {
    text-decoration: none;
    color: white;

    &:hover {
      background: lightgray;
    }
  }
}
.body__main__contents__drill {
  font-size: 25px;
  margin-top: 5px;
  width: 150px;
  border: medium solid white;
  a {
    display: block;
    text-decoration: none;
    color: white;
    &:hover {
      background: lightgray;
    }
  }
}